.footer {
    background-color: #212529;
    color: var(--text-color);
    padding: 2rem 0 0.5rem;
    text-align: center;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footerText {
    font-size: 1.2rem;
    color: var(--primary-color);
  }
  
  .footerIcon {
    color: var(--accent-color);
    margin-right: 8px;
  }
  
  .footerSmall {
    font-size: 1rem;
    color: white;
  }
  
  .name {
    font-weight: bold;
    color: var(--accent-color);
    font-size: 1.2rem;
  }
  


